

.login_container{
    z-index: 2;
    background-color: white;
    position: absolute;
    top: 25vh;
    height: 75vh;
    width: 100vw;
    color: rgb(9, 2, 83);
    border-radius: 16pt 16pt 0 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 24pt 60pt 1fr;
}
.pin{
    margin-top: 64pt;
    display: flex;
    justify-content: center;
}

.pin input{
    margin: 0 4pt;
    width: 36pt;
    height: 36pt;
    border-radius: 4pt;
    border: solid 2pt rgb(9, 2, 83);
    font-size: 40pt;
    text-align: center;
    color: rgb(9, 2, 83)    ;
}

.button_container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
}

.button_container small{
    margin-top: 15pt;
    font-size: 12pt;
}

.button{
    margin-top: 32pt;
    width: 208pt;
    height: 32pt;
    border-radius: 18.5pt;
    background-color: rgb(0, 234, 65);
    color: rgb(9, 2, 83);
    text-transform: uppercase;
    letter-spacing: 0.5pt;
    font-size: 14pt;
    border: none;
    font-weight: 500;
}

.uc{
    text-transform: uppercase;
    text-align: center;
    font-size: 14pt;
    letter-spacing: 0.5pt;
    font-weight: 500;
}

.finger{
    margin-top: 20pt;
    display: flex;
    justify-content: center;
}

.finger img{
    width: 36pt;
    height: 40pt;
}

.suggest{
    margin-top: 36pt;
    display: flex;
    justify-content: center;
}

.suggest p,
.suggest small{
    padding: 5pt 4pt;
    margin: auto 0;
}

.loading_container{
    background-color: rgb(9, 2, 83);
    width: 100%;
    height: 100vh;
}

.logo img{
    width: 150px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
}

.logo_container{
    position: relative;
    height: 25vh;
    background-image: url("../../assets/background/bluePattern01@3x.jpg");
    background-size: cover;
}
